<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gateway.CarotoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Caroto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Caroto.CarotoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Gateway.CarotoSettings>
            <setting name="Mock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseAddress" serializeAs="String">
                <value>http://carotovideo.com</value>
            </setting>
        </Gateway.CarotoSettings>
    </applicationSettings>
    <userSettings>
        <Caroto.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Identidad" serializeAs="String">
                <value />
            </setting>
            <setting name="IsActivated" serializeAs="String">
                <value>False</value>
            </setting>
        </Caroto.Properties.Settings>
        <Caroto.CarotoSettings>
            <setting name="Mock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseAddress" serializeAs="String">
                <value>http://carotovideo.com/</value>
            </setting>
            <setting name="BaseFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="NextSequenceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgrammingFolder" serializeAs="String">
                <value />
            </setting>
        </Caroto.CarotoSettings>
    </userSettings>
</configuration>